<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </Appender>
    <Appender name="Splunk" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url>https://54.151.188.212:8088</url>
        <token>21d8508b-f610-42c7-b48f-ccc74692810d</token>
        <index>main</index>
        <source>udacity-c4</source>
        <sourcetype>log4j</sourcetype>
        <batch_size_count>10</batch_size_count>
        <disableCertificateValidation>true</disableCertificateValidation>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%msg</pattern>
        </layout>
    </Appender>

    <logger name="udacity.logger" level="debug" additivity="false">
        <appender-ref ref="Splunk" />
        <appender-ref ref="Console" />
    </logger>
    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Splunk" />
        <appender-ref ref="Console" />
    </root>


</configuration>